/* Header */

.header {
    background-color: var(--neutral-silver);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}

.header-logo {
    padding: 8px 0;
}

nav {
    display: flex;
    padding: 8px 0;
    gap: 50px;
}

.header-actions button {
    padding: 10px 20px;
}