.modal-window {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 70px;
    background-color: var(--neutral-white);
    border-radius: 8px;
    z-index: 2;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.185);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}